body {
  background-color: #ffe3bc;
  min-width: 1200px;
  font-family: arial, monospace;
  color:  #065477;
}

hr {
  border: none;               /* Убираем границу для браузера Firefox */
  color: #e79c47;             /* Цвет линии для остальных браузеров */
  background-color: #e79c47;  /* Цвет линии для браузера Firefox и Opera */
  height: 2px;                /* Толщина линии */
}

hr {
  border: none;               /* Убираем границу для браузера Firefox */
  color: #e79c47;             /* Цвет линии для остальных браузеров */
  background-color: #e79c47;  /* Цвет линии для браузера Firefox и Opera */
  height: 2px;                /* Толщина линии */
}

a {
  color: #065477;              /* Цвет обычной ссылки */ 
  text-decoration: none;       /* Убираем подчеркивание у ссылок */
}

a:visited {
  color: #065477;              /* Цвет посещённой ссылки */
} 

a:hover {
  color: red;                   /* Цвет ссылки при наведении на нее мыши */  
  text-decoration: underline;   /* Добавляем подчеркивание */
}

@font-face {
  font-family: test;
  src: url("../fonts/Brush_Script.eot");    /* IE9*/
  src: url("../fonts/Brush_Script.woff"),   /* EDGE  */
       url("../fonts/Brush_Script.ttf");    /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
}

.stat {
  width: 25px;
  height: 25px;
  position: absolute;
  right: 20px;
  top: 15px;
  }

.adm {
  width: 25px;
  height: 25px;
  position: absolute;
  right: 60px;
  top: 15px;
}

.help {
  width: 25px;
  height: 25px;
  position: absolute;
  right: 100px;
  top: 15px;
}

.instr {
  width: 25px;
  height: 25px;
  position: absolute;
  right: 140px;
  top: 15px;
}

.news {
  width: 25px;
  height: 40px;
  position: absolute;
  right: 185px;
  top: 12px;
}

.home {
  width: 25px;
  height: 25px;
  position: absolute;
  right: 225px;
  top: 15px;
}
/*div    {border: 1px solid black;}*/
/*.grid  {border: 1px solid red;}*/
/*td {border: 1px solid black;}*/

footer {
  display: block;
  height: 170px;
  background-image: url(../img/niz.png);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.header {
  display: block;
  height: 271px;
  background-image: url(../img/top.jpg);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.grid {
  display: grid;
  display: -ms-grid; 
  -ms-grid-columns: 30% 40% 30%;
  -ms-grid-rows: auto auto auto;
  grid-template-columns: auto;
  
}


.left-sidebar {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-row: 1;
  grid-column: 1;
  position: relative;  
  top: -20px;  
}

.left-col {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-row: 1;
  grid-column: 1;
  position: relative;  
  top: 20px;
}

.l {
  float: left;
  width: 100%;
}

.main {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-row: 1;
  grid-column: 2;
  position: relative;  
  top: -30px;  
  font-size: 25px;
  padding-left: 30px;
  padding-right: 30px;
}


.right-sidebar {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-row: 1;
  grid-column: 3;
  position: relative;  
  top: -60px;
  left: 0px;  
  justify-content: right;
}

.right-col {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-row: 1;
  grid-column: 3;
  position: relative;  
  top: -40px;
  left: 0px;  
  justify-content: right;
}

.r {
  float: right;
  width: 100%;
}

.od {
  position: absolute;
  padding-top: 15px;
  padding-left: 15px;
  font-size: 15px;
  }

.mounth {
  font-size: 50px;
  font-family: test;
  line-height: 1.2;
  -ms-transform: rotate(-4.5deg) scaleX(1.4);
  -webkit-transform: rotate(-4.5deg) scaleX(1.4);
  text-decoration: underline;

}

.table {
  border-spacing: 0px 8px;
}

.table1 {
  border-spacing: 0px 15px;
}


.day_of_week {
  font-size: 20px;
  text-align: right;
  padding-left: 10px;
  padding-right: 10px;
}

.mounth_of_year {
  text-align: right;
  padding-left: 10px;
  padding-right: 10px;
}

.day {
  width: 150px;
  font-size: 27px;
  text-align: center;
}

.name {
  text-align: left;
}

.name1 {
  text-align: left;
  padding-left: 10px;
}

.now {
  background-color: rgba(233, 177, 114, 0.25);
}

.pod {
  display: table;
  position: relative;
  height: 100%;
  width: 100%;
  vertical-align: 100px;
}

.cop {
  display: table-cell;  
  text-align: center;  
  vertical-align: bottom;
  font-size: 9px;
  }

.rz {
  position: absolute;
  font-size: 15px;
  right: 155px;
  bottom: 5px;
  text-align: center;
}

.o_d_t {
  font-size: 20px;
  font-family: "test";
  line-height: 1.2;
  -ms-transform: rotate(-1.5deg) scaleX(1.4);
  -webkit-transform: rotate(-2.0deg) scaleX(1.4);
  text-decoration: underline;
  height: 60px;
  font-weight: bold;

}

.o_d_m {
  font-size: 15px;
  text-align: right;
}

.o_d_n {
  font-size: 15px;
  text-align: left;
}

.tire {
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
}
.o_d_r {
  font-size: 20px;
  font-family: "test";
  line-height: 1.2;
  -ms-transform: rotate(-1.5deg) scaleX(1.4);
  -webkit-transform: rotate(-4.5deg) scaleX(1.4);
  text-decoration: underline;
  height: 40px;
}