body {
  background-color: #ffe3bc;
  min-width: 1200px;
  font-family: arial, monospace;
  color:  #065477;
  background-image: url(../img/fon.jpg);
  background-position: top center;
  background-repeat: repeat;
  background-size: 100% 100%;
}

hr {
  border: none;               /* Убираем границу для браузера Firefox */
  color: #e79c47;             /* Цвет линии для остальных браузеров */
  background-color: #e79c47;  /* Цвет линии для браузера Firefox и Opera */
  height: 2px;                /* Толщина линии */
}

hr {
  border: none;               /* Убираем границу для браузера Firefox */
  color: #e79c47;             /* Цвет линии для остальных браузеров */
  background-color: #e79c47;  /* Цвет линии для браузера Firefox и Opera */
  height: 2px;                /* Толщина линии */
}

a {
  color: #065477;              /* Цвет обычной ссылки */ 
  text-decoration: none;       /* Убираем подчеркивание у ссылок */
}

a:visited {
  color: #065477;              /* Цвет посещённой ссылки */
} 

a:hover {
  color: red;                   /* Цвет ссылки при наведении на нее мыши */  
  text-decoration: underline;   /* Добавляем подчеркивание */
}

@font-face {
  font-family: test;
  src: url("../fonts/Brush_Script.eot");    /* IE9*/
  src: url("../fonts/Brush_Script.woff"),   /* EDGE  */
       url("../fonts/Brush_Script.ttf");    /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
}

.lnk{
  position: absolute;
  right: 17px;
  top: 17px;
}

.stat {
  width: 25px;
  height: 25px;
  position: absolute;
  right: 20px;
  top: 15px;
  }

.adm {
  width: 25px;
  height: 25px;
  position: absolute;
  right: 60px;
  top: 15px;
}

.help {
  width: 25px;
  height: 25px;
  position: absolute;
  right: 100px;
  top: 15px;
}

.instr {
  width: 25px;
  height: 25px;
  position: absolute;
  right: 140px;
  top: 15px;
}

.news {
  width: 25px;
  height: 40px;
  position: absolute;
  right: 185px;
  top: 12px;
}

.home {
  width: 25px;
  height: 25px;
  position: absolute;
  right: 225px;
  top: 15px;
}
/*div    {border: 1px solid black;}*/
/*.grid  {border: 1px solid red;}*/
/*td {border: 1px solid black;}*/

footer {
  display: block;
  height: 170px;
  background-image: url(../img/niz.png);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.header {
  display: block;
  height: 271px;
  background-image: url(../img/top.jpg);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.headerN {
  display: block;
  height: 271px;
  background-image: url(../img/top41.jpg);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.grid {
  display: grid;
  display: -ms-grid; 
  -ms-grid-columns: 30% 40% 30%;
  -ms-grid-rows: auto auto auto;
  grid-template-columns: auto;
  
}


.left-sidebar {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-row: 1;
  grid-column: 1;
  position: relative;  
  top: -20px;  
}

.left-col {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-row: 1;
  grid-column: 1;
  position: relative;  
  top: 20px;
}

.l {
  float: left;
  width: 100%;
}

.main {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-row: 1;
  grid-column: 2;
  position: relative;  
  top: -30px;  
  font-size: 25px;
  padding-left: 30px;
  padding-right: 30px;
}


.right-sidebar {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-row: 1;
  grid-column: 3;
  position: relative;  
  top: -60px;
  left: 0px;  
  justify-content: right;
}

.right-col {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-row: 1;
  grid-column: 3;
  position: relative;  
  top: -40px;
  left: 0px;  
  justify-content: right;
}

.r {
  float: right;
  width: 100%;
}

.od {
  position: absolute;
  padding-top: 15px;
  padding-left: 15px;
  font-size: 15px;
  }

.mounth {
  font-size: 50px;
  font-family: test;
  line-height: 1.2;
  -ms-transform: rotate(-4.5deg) scaleX(1.4);
  -webkit-transform: rotate(-4.5deg) scaleX(1.4);
  text-decoration: underline;

}

.table {
  border-spacing: 0px 8px;
}

.table1 {
  border-spacing: 0px 15px;
}


.day_of_week {
  font-size: 20px;
  text-align: right;
  padding-left: 10px;
  padding-right: 10px;
}

.mounth_of_year {
  text-align: right;
  padding-left: 10px;
  padding-right: 10px;
}

.day {
  width: 150px;
  font-size: 27px;
  text-align: center;
}

.name {
  text-align: left;
}

.name1 {
  text-align: left;
  padding-left: 10px;
}

.now {
  background-color: rgba(233, 177, 114, 0.25);
}

.pod {
  display: table;
  position: relative;
  height: 100%;
  width: 100%;
  vertical-align: 100px;
}

.cop {
  display: table-cell;  
  text-align: center;  
  vertical-align: bottom;
  font-size: 9px;
  }

.rz {
  position: absolute;
  font-size: 15px;
  right: 155px;
  bottom: 5px;
  text-align: center;
}

.o_d_t {
  font-size: 20px;
  font-family: "test";
  line-height: 1.2;
  -ms-transform: rotate(-1.5deg) scaleX(1.4);
  -webkit-transform: rotate(-2.0deg) scaleX(1.4);
  text-decoration: underline;
  height: 60px;
  font-weight: bold;

}

.o_d_m {
  font-size: 15px;
  text-align: right;
}

.o_d_n {
  font-size: 15px;
  text-align: left;
}

.tire {
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
}
.o_d_r {
  font-size: 20px;
  font-family: "test";
  line-height: 1.2;
  -ms-transform: rotate(-1.5deg) scaleX(1.4);
  -webkit-transform: rotate(-4.5deg) scaleX(1.4);
  text-decoration: underline;
  height: 40px;
}

ol {
    font-size: 18px;
}

.block_com {
    display: flex;
    flex-flow: row wrap;
}

.text_com {
  border:2px solid #065477;
  background-color: #e79c47;
  border-radius:10px;
  height:50px;
  width:90%;
  padding:20px;
  position:relative;
  margin-bottom:  30px;
}
.text_com:before {
  border:30px solid transparent;
  border-top-color: #065477;
  position:absolute;
  bottom:100%;
  left:14px;
  top: 90px;
  content:'';
}

.text_com:after {
  border:28px solid transparent;
  border-top-color: #e79c47;
  position:absolute;
  bottom:100%;
  top: 89px;
  left:16px;
  content:'';
}

.rand {
  width:0;
  height:0;
  border:116px solid transparent;
  /*border-bottom-color: white;*/
  /*border-right-color:red;*/
  border-top-color:green;
  /*border-left-color:blue;*/

}
.com_name {
  /*border:2px solid black;*/
  /*background-color: #ccc;*/
  border-radius:10px;
  margin-bottom: 30px;
  color: black;
  padding-left: 33px;
}

.com_new {
  font-size: 15px;
}

.com_name_2 {
    /*background-color: #ccc;*/
    position: relative;
    top: 10px;
    max-width: 560px;
    flex-basis: 70%;
    margin-left: 22px;
    margin-bottom: 25px;
    padding-left: 13px;
    margin-bottom: 50px;
}
.text_com_2 {
	padding: 15px;
	max-width: 560px;
}
.text_com_2 {
	background: #e9b272;
	position: relative;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	margin-left: 20px;
    min-width: 400px;
}

.text_com_2:before {
    left: 10px;
    content: "";
    position: absolute;
    bottom: -23px;
    width: 0;
    height: 0;
    border-top: 12px solid #e9b272;
    border-right: 13px solid transparent;
    border-bottom: 12px solid transparent;
    border-left: 12px solid transparent;
}


.ksangelopan {
  margin: 19px 0 0;
  padding:0;
  list-style: none;
  counter-reset: li;

}

.ksangelopan li {
  border: 2px solid #3575ad;
  border-radius:10px;
  background:  rgba(223,161,95,0.9);
  position: relative;
  margin-bottom: 17px;
  padding: 15px 9px;
}
.ksangelopan li:hover {
  z-index: 1;
}

.ksangelopan li:before {
  border: 2px solid #2270b3;
  border: 2px solid #065477;
  position: absolute;
  top: -14px;
  padding: 3px 9px;
  font-size: 11px;
  font-weight: bold;
  color: #2270b3;
  background: #ffe3bc; /*фон маленького квадратика*/
  content: attr(alt);
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  border-radius:5px;
 }
.ksangelopan li:hover:before {
  background:  #e79c47;
  color: #065477;
  -webkit-transform: translate(-11px, 0);
  -ms-transform: translate(-11px, 0);
  -o-transform: translate(-11px, 0);
  transform: translate(-11px, 0);
  border-radius:5px;
}

.ksangelopan li:after {
  content: "";
  position: absolute;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: width;
  transition-property: width;
  z-index: -1;
  background: #ffe3bc;
  border-radius:10px;
  height: 100%;
  left: 0;
  top: 0;
  width: 0;

}
.ksangelopan li:hover:after {
  width: 100%;
  opacity: 0.25;
}
