{% extends 'duty/base.html' %}
{% load static %}

{% block title %}
    {{ title }}
{% endblock %}

{% block content %}

    <table  class="table" align="center">
        <caption class="mounth">{% now "F" %}</caption>
        <tr>
            <td colspan="3"><hr></td>
        </tr>
            {% for t in wtf %}
                {% if t.2 != '-' %}
                    {% if t.1 == now %}
                        <tr class="now">
                    {% else %}
                        <tr>
                    {% endif %}
                        <td class="day_of_week">{{ t.0 }}</td>
                        <td class="day">{{ t.1 }}</td>
                        <td class="name">
                        {% if t.2 == '! свободно !' %}
                            <b title="Это дежурство пока свободно! Нажми для записи"><a href="mailto:ialekseeva@grc.ru?subject=Хочу дежурить {{ t.1 }} числа">{{ t.2 }}</a> </b>
                            {% else %}
                            <form method="post">
                            {% csrf_token %}
                            <select name="{{ t }}">
                                {%  for s in surname %}
                                    <option name="{{ s.pk }}" value="{{ s.familia }}"
                                        {% if s.familia == t.2 %}
                                            selected
                                        {% endif %}
                                    >{{ s.familia }}</option>
                                {% endfor %}
                            </select>
                            <input type="submit">
                        </form>
                        {% endif %}
                        </td></tr>
                        {% if t.0 == "пт" %}
                            <tr><td colspan="3"><hr></td></tr>
                        {% endif %}
                        {% if t.0 == "сб" %}
                            <tr><td colspan="3"><hr></td></tr>
                        {% endif %}

                {% endif %}
            {% endfor %}
    </table>
<a class="o_d_n" href="{% url 'edit' %}">edit</a>
{% endblock %}