{% extends 'duty/base3.html' %}
{% load static %}

{% block title %}
    {{ title }}
{% endblock %}

{% block content %}

    <div class="left-col"  align="center">
        <img src="{% static 'img/lm1n.png' %}" class="l" title="ВСТУПАЙТЕ В ПРОФСОЮЗ!">
    </div>

    <div class="main">
        <div align="center" class="mounth">Новости</div>
        <div>
            <ul  class="ksangelopan">
            {% if test %}
                {% for t in test %}
                    <li alt='{{t.pub_date}}'><a style="text-decoration: none; border-bottom: 1px solid;" href="{% url 'detail' t.id %}" title="{{ t.article_tit }}">{{t.article_title}}</a></li>
                {% endfor %}
            {% else %}
                новостей нет в базе
            {% endif %}
            <li alt='2  марта 2021 г.'>На справочной странице
                <a href="help" title="Справка для ответственного дежурного">
                    <img src="{% static 'img/help.svg' %}"></a> добавлена информация для ответственных дежурных.</li>
            <li alt='1 марта 2021 г.'> - В меню добавлена возможность скачать ярлык
                <a href="{% static 'Дежурства.url' %}" title="Скачать ярлык">
                    <img src="{% static 'img/lnk.png' %}" height="25"></a>, чтобы не потерять это расписание. </li>
            </ul>
        </div>
    </div>

    <div class="right-col" align="center">
        <img src="{% static 'img/pm1n.png' %}" class="r" title="ВСТУПАЙТЕ В ПРОФСОЮЗ!">
    </div>

{% endblock %}