{% extends 'duty/base.html' %}
{% load static %}

{% block title %}
    {{ title }}
{% endblock %}

{% block content %}

<div align="center" class="mounth">{{ title }}</div>
<!--//{% now "Y-m-d" as today %}-->

	<div style="width: 100%; height: 780px; overflow-y: scroll; overflow-x: hidden;">
		{% for sp in spisok %}
			{% if today in sp.1  %}
			<p style="left: 50px; font-size: 15px; text-align: left; position: relative; top: 25px;">{{ sp.1 }}</p>
			{% else %}
			<p style="opacity: 0.6; left: 50px; font-size: 15px; text-align: left; position: relative; top: 25px;">{{ sp.1 }}</p>

			{% endif %}
		{% endfor %}
	</div>
{% endblock %}


