<!doctype html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, nitial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>
    <link rel ="stylesheet" href="{% static 'css/index.css' %}?ver={% now 'u'  %}">
</head>
<body>
		<div class="header">
			<div class="od">
				<table  class="table" align="center">
					<caption class="o_d_t" >
						<a href="stat"><ins>Ответственные дежурные:</ins></a>
					</caption>
					<tr>
						<td class='o_d_m'>Январь</td>
						<td class='o_d_n'>Белкин</td>
					</tr>
					<tr>
						<td class='o_d_m'>Февраль</td>
						<td class='o_d_n'>Тарынина</td>
					</tr>
				</table>
			</div>
			<a href="/admin"><img class="adm" src="{% static 'img/adm.png' %}"></a>
		</div>
	<main class="grid">
		<div class="left-sidebar"  align="center">
			<img src="{% static 'img/leftcol.png' %}" class="l" title="ВСТУПАЙТЕ В ПРОФСОЮЗ!">
		</div>

		<div class="main">
{% block content %}{% endblock %}
		</div>

		<div class="right-sidebar" align="center">
			<img src="{% static 'img/rightcol.png' %}" class="r" title="ВСТУПАЙТЕ В ПРОФСОЮЗ!">
		</div>
	</main>
	<footer>
		<div class="pod">
			<div class="rz">
				<table  class="table">
					<caption class="o_d_r">Резерв:</caption>
					<tr><td class='o_d_n'><a href="/">-</a></td></tr>
					<tr><td class='o_d_n'><a href="stat">-</a></td></tr>
				</table>
			</div>
			<span class="cop">
				<a href="mailto:ialekseeva@grc.ru" title="Нашли ошибку? Свяжитесь с разработчиком"><img src="{% static 'img/cop.png' %}"></a>
				<p>Материалы на данной странице предоставляются "как есть" и не подпадают под действие каких-либо гарантий, явно выраженных или подразумеваемых</p>
				</span>
		</div>
	</footer>
</body>
</html>