{% extends 'duty/base.html' %}

{% block title %}
{{ title }}
{% endblock %}

{% block content %}
    <a href="admin">admin</a><br>
    <h1>{{ txt }}</h1>

<div>
    <p>{% now "F" %}</p>
<!--    <p>{% now "F j Y" %}</p>-->
<!--    <p>{% now "N, j, Y" %}</p>-->
<!--    <p>{% now "N j, Y, P" %}</p>-->
</div>
<table border="1">
<!--        <tr bgcolor="#ccc"> <td>день недели</td> <td>число</td> <td>дежурный</td> </tr>-->
        {% for t in wtf %}
            <tr>
                <td>{{ t.0 }} </td>
                <td>{{ t.1 }} </td>
                <td>{{ t.2 }} </td>
                {% empty %}
                <li>Langs array is empty</li>
            </tr>
        {% endfor %}
    </table>

<!--{% with name="Tom" age=29 %}-->
<!--    <div>-->
<!--        <p>Name: {{ name }}</p>-->
<!--        <p>Age: {{ age }}</p>-->
<!--    </div>-->
<!--{% endwith %}-->

<!--<ul>-->
<!--    {% for n in wtf %}-->
<!--    <li>{{ n.0 }} - {{ n.1 }} - {{ n.2 }}</li>-->
<!--    {% empty %}-->
<!--    <li>no nno no</li>-->
<!--    {% endfor %}-->
<!--</ul>-->
{% endblock %}
