{% extends 'duty/base2.html' %}
{% load static %}

{% block title %}
    {{ title }}
{% endblock %}

{% block content %}

<div class="left-col"  align="center">
			<img src="{% static 'img/lm1n.png' %}" class="l" title="ВСТУПАЙТЕ В ПРОФСОЮЗ!">
</div>
<div class="main">
    <table  class="table1" align="center">
        <caption class="mounth">Ответственные дежурные</caption>
        <tr>
            <td colspan="3"><hr></td>
        </tr>
        <tr>
            <td class='mounth_of_year'>Январь</td>
            <td class="tire">-</td>
            <td class='name1'>Белкин А.В.</td>
        </tr>
        <tr class="now">
            <td class='mounth_of_year'>Февраль</td>
            <td class="tire">-</td>
            <td class='name1'>Тарынина Н.В.</td>
        </tr>
        <tr>
            <td class='mounth_of_year'>Март</td>
            <td class="tire">-</td>
            <td class='name1'>Рябин А.А.</td>
        </tr>
        <tr>
            <td class='mounth_of_year'>Апрель</td>
            <td class="tire">-</td>
            <td class='name1'>Алексеева И.В.</td>
        </tr>
        <tr>
            <td class='mounth_of_year'>Май</td>
            <td class="tire">-</td>
            <td class='name1'>Скрипкин А.Ю.</td>
        </tr>
        <tr>
            <td class='mounth_of_year'>Июль</td>
            <td class="tire">-</td>
            <td class='name1'>Кузнецова А.Н.</td>
        </tr>
        <tr>
            <td class='mounth_of_year'>Август</td>
            <td class="tire">-</td>
            <td class='name1'>Борщева Е.Ю.</td>
        </tr>
        <tr>
            <td class='mounth_of_year'>Сентябрь</td>
            <td class="tire">-</td>
            <td class='name1'>Темиргалеев Р.Т.</td>
        </tr>
        <tr>
            <td class='mounth_of_year'>Октябрь</td>
            <td class="tire">-</td>
            <td class='name1'>Гелеверя С.В.</td>
        </tr>
        <tr>
            <td class='mounth_of_year'>Ноябрь</td>
            <td class="tire">-</td>
            <td class='name1'>Шемякин М.С.</td>
        </tr>
        <tr>
            <td class='mounth_of_year'>Декабрь</td>
            <td class="tire">-</td>
            <td class='name1'>Салимов В.Г.</td>
        </tr>
        <tr>
            <td colspan="3"><hr></td>
        </tr>
    </table>
</div>

<div class="right-col" align="center">
    <img src="{% static 'img/pm1n.png' %}" class="r" title="ВСТУПАЙТЕ В ПРОФСОЮЗ!">
</div>

{% endblock %}